/*  TODO: Remove unused font weight on the end of development/ design compleyte */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.active_nav_link div #tabIcon{
  color: #353988;
}
.active_nav_link div span p{
  color: #353988 !important;
}

.ql-container{
  height:100% !important;
  flex: 1 1 0% !important;
}

.Toastify__close-button {
  align-self: center !important;
}
/* section active inactive state */
.activeSection > div {
   /* pl-[17px] border-transparent shadow-md border-l-8 border-primary */
  border: 1px solid transparent;
  border-left: 8px solid #353988;
  background-color: #ffffff;
  padding-left: 17px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.inactiveSection > div {
  border: 1px solid #D1D5DB;
  background-color: #F3F4F6;
}
/* end section active inactive state */


