DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
SESSION_SECRET="super-duper-s3cret"
SENDGRID_API_KEY= "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"
PUBLIC_URL="http://localhost:3000/"