DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
SESSION_SECRET="super-duper-s3cret"
SENDGRID_API_KEY="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"
PUBLIC_URL="http://localhost:3000"
